<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${post.title}">Tytuł posta</h1>
<span th:text="${post.added}">2019-03-02 11:07:10</span>
<p th:text="${post.postBody}">Tresć posta...</p>

<div th:if="${showCommentForm}">
    <form method="post" th:action="@{/post/{id}/comment/add(id=${post.id})}">
        <textarea name="commentBody"></textarea>
        <input type="hidden" name="postId" th:value="${post.id}">
        <input type="submit" value="Dodaj komentarz">
    </form>
</div>


</body>
</html>